<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payvenue.meterreader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-configuration android:reqHardKeyboard="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
    android:name="com.noreco.vendor.permission.SCANNER_RESULT_RECEIVER"
    android:protectionLevel="normal" />



    <!--<uses-permission android:name="com.noreco.vendor.permission.SCANNER_RESULT_RECEIVER" />-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <!--<uses-permission android:name="com.noreco.vendor.permission.SCANNER_RESULT_RECEIVER" />-->


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.payvenue.meterreader.Accounts"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- @android:color/transparent -->

        <receiver
            android:name=".Fragments.FragmentReading$ScanResultReceiver"
            android:enabled="true"
            android:permission="com.noreco.vendor.permission.SCANNER_RESULT_RECEIVER"
            android:priority="0">
            <intent-filter>
                <action android:name="device.scanner.USERMSG" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@android:color/transparent"
            android:screenOrientation="portrait"
            android:showAsAction="never"
            android:theme="@style/MyTheme.NoActionBar" />

        <!-- android:screenOrientation="portrait" -->

        <activity
            android:name=".Camera.ZBarScannerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ViewDetails"
            android:label="@string/title_activity_view_details"
            android:logo="@android:color/transparent"
            android:showAsAction="never" />
        <activity
            android:name=".AccountListActivity"
            android:label="Accounts"
            android:logo="@android:color/transparent" />
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:logo="@android:color/transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <action android:name="android.intent.action.MAIN" />>     
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--<activity-->
        <!--android:name=".PrintedAccounts"-->
        <!--android:label="@string/title_activity_printed_accounts"-->
        <!--android:logo="@android:color/transparent" />-->
        <activity
            android:name=".BillPayment"
            android:label="@string/title_activity_bill_payment"
            android:theme="@style/MyTheme.NoActionBar" />
        <activity
            android:name=".Accounts"
            android:label="@string/title_activity_account_details"></activity>
        <activity android:name=".BillPreview"></activity>
    </application>

</manifest>